@import 'tailwindcss';

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

@keyframes scroll-vertical {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

.animate-scroll-vertical {
  display: flex;
  flex-direction: column;
  animation: scroll-vertical 60s linear infinite;
}
